<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="responsive.css" />
    <link href="https://cdn.jsdelivr.net/npm/quasar@2.1.0/dist/quasar.prod.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet"
        type="text/css" />
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-thin.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-solid.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-regular.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.1/css/sharp-light.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@3/dist/vue.global.prod.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar@2.8.4/dist/quasar.umd.prod.js" defer></script>
    <script src="app.js" defer></script>
</head>

<body>
    <div id="baseplate-container" v-show="show">
        <div v-if="showStreets" class="street-container">
            <div class="street2">{{street2}}</div>
            <div class="street1">{{street1}}</div>
        </div>
        <div class="baseplate" v-show="show">
            <div v-if="showPointer" class="pointer">˅</div>
            <div v-if="showDegrees" class="degrees"></div>
            <svg class="bezel">
                <rect width="3" stroke="black" fill="white" stroke-width="0.5" stroke-opacity="0.6" v-if="showCompass"
                    height="20" x="-90" />
                <rect width="3" stroke="black" fill="white" stroke-width="0.5" stroke-opacity="0.6" v-if="showCompass"
                    height="9" x="-45" />
                <rect width="4.5" stroke="black" fill="white" stroke-width="0.5" stroke-opacity="0.6" v-if="showCompass"
                    height="20" x="0" />
                <rect width="3" stroke="black" fill="white" stroke-width="0.5" stroke-opacity="0.6" v-if="showCompass"
                    height="9" x="45" />
                <rect width="4.5" stroke="black" fill="white" stroke-width="0.5" stroke-opacity="0.6" v-if="showCompass"
                    height="20" x="90" />
                <rect width="3" stroke="black" fill="white" stroke-width="0.5" stroke-opacity="0.6" v-if="showCompass"
                    height="9" x="135" />
                <rect width="4.5" stroke="black" fill="white" stroke-width="0.5" stroke-opacity="0.6" v-if="showCompass"
                    height="20" x="180" />
                <rect width="3" stroke="black" fill="white" stroke-width="0.5" stroke-opacity="0.6" v-if="showCompass"
                    height="9" x="225" />
                <rect width="4.5" stroke="black" fill="white" stroke-width="0.5" stroke-opacity="0.6" v-if="showCompass"
                    height="20" x="270" />
                <rect width="3" stroke="black" fill="white" stroke-width="0.5" stroke-opacity="0.6" v-if="showCompass"
                    height="9" x="315" />
                <rect width="4.5" stroke="black" fill="white" stroke-width="0.5" stroke-opacity="0.6" v-if="showCompass"
                    height="20" x="360" />
                <rect width="3" stroke="black" fill="white" stroke-width="0.5" stroke-opacity="0.6" v-if="showCompass"
                    height="9" x="405" />
                <rect width="3" stroke="black" fill="white" stroke-width="0.5" stroke-opacity="0.6" v-if="showCompass"
                    height="20" x="450" />
            </svg>
            <svg class="bearing">
                <text style="font-size: 0.8vw" v-if="showCompass" x="0" y="1.5" dominant-baseline="middle" text-anchor="middle" fill="#ffeb3b">N</text>
                <text style="font-size: 0.8vw" v-if="showCompass" x="360" y="1.5" dominant-baseline="middle" text-anchor="middle" fill="#ffeb3b">N</text>
                <text style="font-size: 0.5vw; opacity: 50%;" v-if="showCompass" x="315" y="-5" dominant-baseline="middle" text-anchor="middle" fill="white">NW</text>
                <text style="font-size: 0.5vw; opacity: 50%;" v-if="showCompass" x="-45" y="-5" dominant-baseline="middle" text-anchor="middle" fill="white">NW</text>
                <text style="font-size: 0.5vw; opacity: 50%;" v-if="showCompass" x="45" y="-5" dominant-baseline="middle" text-anchor="middle" fill="white">NE</text>
                <text style="font-size: 0.5vw; opacity: 50%;" v-if="showCompass" x="405" y="-5" dominant-baseline="middle" text-anchor="middle" fill="white">NE</text>
                <text style="font-size: 0.8vw" v-if="showCompass" x="90" y="1.5" dominant-baseline="middle" text-anchor="middle" fill="white">E</text>
                <text style="font-size: 0.5vw; opacity: 50%;" v-if="showCompass" x="135" y="-5" dominant-baseline="middle" text-anchor="middle" fill="white">SE</text>
                <text style="font-size: 0.8vw"v-if="showCompass" x="180" y="1.5" dominant-baseline="middle" text-anchor="middle" fill="white">S</text>
                <text style="font-size: 0.5vw; opacity: 50%;" v-if="showCompass" x="225" y="-5" dominant-baseline="middle" text-anchor="middle" fill="white">SW</text>
                <text style="font-size: 0.8vw" v-if="showCompass" x="270" y="1.5" dominant-baseline="middle" text-anchor="middle" fill="white">W</text>
            </svg>
        </div>
    </div>
    <div id="openmenu">
        <div id="menu">
            <q-splitter v-model="splitterModel" style="height: 50vh;">
                <template v-slot:before>
                    <q-tabs v-model="tab" active-bg-color="active-tab" inline-label indicator-color="transparent"
                        vertical class="text-tabcolor bg-panel">
                        <q-tab name="hud" icon="view_list" label="HUD"
                            style="height: 5.5vh; padding-left: 1vh; justify-content: end;"></q-tab>
                    </q-tabs>
                </template>
                <template v-slot:after>
                    <q-tab-panels v-model="tab" animated swipeable vertical transition-prev="jump-up"
                        transition-next="jump-up" class="bg-active-tab">
                        <q-tab-panel name="hud">
                            <div class="q-mb-md">
                                <div class="text-h6 q-mb-md">Reset Hud</div>
                                <div class="q-pa-md q-gutter-sm">
                                    <q-btn v-on:click="resetStorage($event)" :loading="progress[0].loading"
                                        :percentage="progress[0].percentage" text-color="textbutton" color="bgbutton"
                                        @click="startComputing(0)" style="width: 150px"> Reset Settings
                                        <template v-slot:loading> <q-spinner-gears class="on-left"></q-spinner-gears>
                                            Resetting... </template></q-btn>
                                    <div class="text-h7 q-mb-md">If you want to reset your settings back to default;
                                        click this shiny button! <br> (you will have to relog for your menu to reset
                                        changes successfully)</div>
                                    <q-btn v-on:click="restartHud($event)" :loading="progress[1].loading"
                                        :percentage="progress[1].percentage" text-color="textbutton" color="bgbutton"
                                        @click="startComputing(1)" style="width: 150px"> Reset Hud
                                        <template v-slot:loading> <q-spinner-gears class="on-left"></q-spinner-gears>
                                            Resetting... </template></q-btn>
                                    <div class="text-h7 q-mb-md">If your hud is acting up, give it a good ol' reset! Or
                                        you can do /resethud</div>
                                </div>
                                <hr>
                                <div class="text-h6 q-mb-md">Options</div>
                                <div class="text-h7">
                                    <q-item borderless tag="label" v-ripple>
                                        <q-item-section avatar>
                                            <q-checkbox v-model="isOutMapChecked" v-on:click="showOutMap($event)"
                                                color="checkbox" val="1"></q-checkbox>
                                        </q-item-section>
                                        <q-item-section>
                                            <q-item-label>Show Minimap Only in Vehicle</q-item-label>
                                            <q-item-label class="text-h7" caption>Disabling this will always keep your
                                                minimap on your screen</q-item-label>
                                        </q-item-section>
                                    </q-item>
                                    <q-item borderless tag="label" v-ripple>
                                        <q-item-section avatar>
                                            <q-checkbox v-model="isOutCompassChecked"
                                                v-on:click="showOutCompass($event)" color="checkbox"
                                                val="2"></q-checkbox>
                                        </q-item-section>
                                        <q-item-section>
                                            <q-item-label>Show Compass Only in Vehicle</q-item-label>
                                            <q-item-label class="text-h7" caption>Disabling this will always keep your
                                                compass on your screen</q-item-label>
                                        </q-item-section>
                                    </q-item>
                                    <q-item borderless tag="label" v-ripple>
                                        <q-item-section avatar>
                                            <q-checkbox v-model="isCompassFollowChecked"
                                                v-on:click="showFollowCompass($event)" color="checkbox"
                                                val="3"></q-checkbox>
                                        </q-item-section>
                                        <q-item-section>
                                            <q-item-label>Show Compass Follow Cam</q-item-label>
                                            <q-item-label class="text-h7" caption>Disabling this will make it so you can
                                                no longer use your mouse to rotate the compass around</q-item-label>
                                        </q-item-section>
                                    </q-item>
                                </div>
                                <hr>
                                <div class="text-h6 q-mb-md">Notifications</div>
                                <div class="text-h7">
                                    <q-checkbox v-on:click="openMenuSounds($event)" label='Menu Sound Effects Enabled'
                                        v-model="isOpenMenuSoundsChecked" color="checkbox" val="4"
                                        style="display: flex;"></q-checkbox>
                                    <q-checkbox v-on:click="resetHudSounds($event)"
                                        label='Reset Hud Sound Effects Enabled' v-model="isResetSoundsChecked"
                                        color="checkbox" val="5" style="display: flex;"></q-checkbox>
                                    <q-checkbox v-on:click="checklistSounds($event)" label='GUI Sound Effects Enabled'
                                        v-model="isListSoundsChecked" color="checkbox" val="6"
                                        style="display: flex;"></q-checkbox>
                                    <q-checkbox v-on:click="showMapNotif($event)" label='Map Notifications Enabled'
                                        v-model="isMapNotifChecked" color="checkbox" val="7"
                                        style="display: flex;"></q-checkbox>
                                    <q-checkbox v-on:click="showFuelAlert($event)" label='Low Fuel Alert Enabled'
                                        v-model="isLowFuelChecked" color="checkbox" val="8"
                                        style="display: flex;"></q-checkbox>
                                    <q-checkbox v-on:click="showCinematicNotif($event)"
                                        label='Cinematic Mode Notifications Enabled' v-model="isCinematicNotifChecked"
                                        color="checkbox" val="9" style="display: flex;"></q-checkbox>
                                </div>
                            </div>
                            <hr>
                            <div class="text-h6 q-mb-md">Status</div>
                            <div class="text-h7">
                                <q-checkbox v-on:click="dynamicHealth($event)" label='Show Health always'
                                    v-model="isDynamicHealthChecked" color="checkbox" val="10"
                                    style="display: flex;"></q-checkbox>
                                <q-checkbox v-on:click="dynamicArmor($event)" label='Show Armor always'
                                    v-model="isDynamicArmorChecked" color="checkbox" val="11"
                                    style="display: flex;"></q-checkbox>
                                <q-checkbox v-on:click="dynamicHunger($event)" label='Show Hunger always'
                                    v-model="isDynamicHungerChecked" color="checkbox" val="12"
                                    style="display: flex;"></q-checkbox>
                                <q-checkbox v-on:click="dynamicThirst($event)" label='Show Thirst always'
                                    v-model="isDynamicThirstChecked" color="checkbox" val="13"
                                    style="display: flex;"></q-checkbox>
                                <q-checkbox v-on:click="dynamicStress($event)" label='Show Stress always'
                                    v-model="isDynamicStressChecked" color="checkbox" val="14"
                                    style="display: flex;"></q-checkbox>
                                <q-checkbox v-on:click="dynamicOxygen($event)" label='Show Oxygen always'
                                    v-model="isDynamicOxygenChecked" color="checkbox" val="15"
                                    style="display: flex;"></q-checkbox>
                            </div>
                            <hr>
                            <div class="text-h6 q-mb-md">Vehicle</div>
                            <div class="text-h7">
                                <q-toggle v-on:click="changeFPS($event)" size="lg" keep-color icon-color="toggleicons"
                                    color="checkbox" :label="`Speedometer FPS ${isChangeFPSChecked}`"
                                    unchecked-icon="60fps" false-value="Synced" true-value="Optimized"
                                    checked-icon="30fps" v-model="isChangeFPSChecked"></q-toggle>
                                <div class="text-h7 q-mb-md-d">Synced FPS option will result in less optimization, but
                                    keep your speedometer in real time, however, it will also be more demanding on your
                                    machine.</div>
                                <q-checkbox v-on:click="HideMap($event)" label='Minimap Enabled'
                                    v-model="isHideMapChecked" color="checkbox" val="15"
                                    style="display: flex;"></q-checkbox>
                                <q-checkbox v-on:click="dynamicEngine($event)" label='Show Engine always'
                                    v-model="isDynamicEngineChecked" color="checkbox" val="17"
                                    style="display: flex;"></q-checkbox>
                                <q-checkbox v-on:click="dynamicNitro($event)" label='Show Nitro always'
                                    v-model="isDynamicNitroChecked" color="checkbox" val="18"
                                    style="display: flex;"></q-checkbox>
                            </div>
                            <hr>
                            <div class="text-h6 q-mb-md">Compass</div>
                            <div class="text-h7">
                                <q-toggle v-on:click="changeCompassFPS($event)" size="lg" keep-color
                                    icon-color="toggleicons" color="checkbox"
                                    :label="`Compass FPS ${isChangeCompassFPSChecked}`" unchecked-icon="60fps"
                                    false-value="Synced" true-value="Optimized" checked-icon="30fps"
                                    v-model="isChangeCompassFPSChecked"></q-toggle>
                                <div class="text-h7 q-mb-md-d">Synced FPS option will result in less optimization, but
                                    keep your compass in real time, however, it will also be more demanding on your
                                    machine.</div>
                                <q-item borderless tag="label" v-ripple>
                                    <q-item-section avatar>
                                        <q-checkbox v-on:click="showCompassBase($event)" v-model="isShowCompassChecked"
                                            color="checkbox" val="19"></q-checkbox>
                                    </q-item-section>
                                    <q-item-section>
                                        <q-item-label>Compass Enabled</q-item-label>
                                        <q-item-label class="text-h7" caption>Disabling this will make it so you can't
                                            see the compass navigation</q-item-label>
                                    </q-item-section>
                                </q-item>
                                <q-item borderless tag="label" v-ripple>
                                    <q-item-section avatar>
                                        <q-checkbox v-on:click="showStreetsNames($event)" v-model="isShowStreetsChecked"
                                            color="checkbox" val="20"></q-checkbox>
                                    </q-item-section>
                                    <q-item-section>
                                        <q-item-label>Show Street Names Enabled</q-item-label>
                                        <q-item-label class="text-h7" caption>Disabling this will make it so you can't
                                            see street names / locations</q-item-label>
                                    </q-item-section>
                                </q-item>
                                <q-item borderless tag="label" v-ripple>
                                    <q-item-section avatar>
                                        <q-checkbox v-on:click="showPointerIndex($event)" v-model="isPointerShowChecked"
                                            color="checkbox" val="21"></q-checkbox>
                                    </q-item-section>
                                    <q-item-section>
                                        <q-item-label>Show Compass Pointer Enabled</q-item-label>
                                        <q-item-label class="text-h7" caption>Disabling this will make it so you can't
                                            see your pointer index to pinpoint your exact cardinal
                                            directions</q-item-label>
                                    </q-item-section>
                                </q-item>
                                <q-item borderless tag="label" v-ripple>
                                    <q-item-section avatar>
                                        <q-checkbox v-on:click="showDegreesNum($event)" v-model="isDegreesShowChecked"
                                            color="checkbox" val="22"></q-checkbox>
                                    </q-item-section>
                                    <q-item-section>
                                        <q-item-label>Show Compass Degrees Enabled</q-item-label>
                                        <q-item-label class="text-h7" caption>Disabling this will make it so you can't
                                            see your exact degrees</q-item-label>
                                    </q-item-section>
                                </q-item>
                            </div>
                            <hr>
                            <div class="text-h6 q-mb-md">Cinematic Mode</div>
                            <div class="text-h7">
                                <q-checkbox v-on:click="cinematicMode($event)" label='Enabled'
                                    v-model="isCineamticModeChecked" color="checkbox" val="23"
                                    style="display: flex;"></q-checkbox>
                            </div>
                            <br>
                        </q-tab-panel>
                    </q-tab-panels>
                </template>
            </q-splitter>
        </div>
    </div>
    <div id="main-container">
        <div id="money-container">
            <div id="money-cash">
                <transition name="slide-fade">
                    <p v-if="showCash"><span id="sign">$&nbsp;</span><span id="money">{{(cash)}}</span></p>
                </transition>
            </div>
            <div id="money-bank">
                <transition name="slide-fade">
                    <p v-if="showBank"><span id="sign">$&nbsp;</span><span id="bank">{{(bank)}}</span></p>
                </transition>
            </div>
            <div id="money-change" v-if="showUpdate">
                <p v-if="plus" id="money"><span id="plus">+&nbsp;</span><span id="money">{{(amount)}}</span></p>
                <p v-else-if="minus" id="minus"><span id="minus">-&nbsp;</span><span id="money">{{(amount)}}</span></p>
            </div>
        </div>
        <div id="ui-container">
            <div id="playerHud" v-show="show">
                <transition name="fade">
                    <div v-if="showVoice">
                        <q-circular-progress rounded class="q-ml-xl" style="opacity: 40%;" :value="static"
                            size="2.6041666666666665vw" :thickness="0.10" :style="{color: grey-10}" :min="0"
                            :max="100"></q-circular-progress>
                        <q-circular-progress rounded class="q-ml-xl" style="left: -50%;" show-value :value="voice"
                            size="2.6041666666666665vw" :thickness="0.15" :style="{color: talkingColor}" :min="0"
                            :max="5">
                            <q-icon style="top: -0.0544069640914037vh; left: 0vw;" :name="voiceIcon" size="1.015625vw"
                                :style="[enhancements['voice'] ? {color: enhancements['voice']} : {color: 'white'}]" />
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="showHealth">
                        <q-circular-progress rounded class="q-ml-xl" style="opacity: 40%;" :value="static"
                            size="2.6041666666666665vw" :thickness="0.10" :style="{color: grey-10}" :min="0"
                            :max="100"></q-circular-progress>
                        <q-circular-progress rounded class="q-ml-xl" style="left: -50%;" show-value :value="health"
                            size="2.6041666666666665vw" :thickness="0.15" :style="{color: healthColor}" :min="0"
                            :max="100">
                            <q-icon style="top: -0.0544069640914037vh; left: -0.020833333333333332vw;"
                                name="fa fa-heart-pulse" size="1.015625vw"
                                :style="[enhancements['health'] ? {color: enhancements['health']} : {color: 'white'}]" />
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="showArmor">
                        <q-circular-progress rounded class="q-ml-xl" style="opacity: 40%;" :value="static"
                            size="2.6041666666666665vw" :thickness="0.10" :style="{color: grey-10}" :min="0"
                            :max="100"></q-circular-progress>
                        <q-circular-progress rounded class="q-ml-xl" style="left: -50%;" show-value :value="armor"
                            size="2.6041666666666665vw" :thickness="0.15" :style="{color: armorColor}" :min="0"
                            :max="100">
                            <q-icon name="fa fa-shield" size="1.015625vw"
                                :style="[enhancements['armor'] ? {color: enhancements['armor']} : {color: 'white'}]" />
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="showHunger">
                        <q-circular-progress rounded class="q-ml-xl" style="transform: rotate(-180deg); opacity: 40%;"
                            :value="50" size="2.6041666666666665vw" :thickness="0.10" :style="{color: grey-10}" :min="0"
                            :max="100"></q-circular-progress>
                        <q-circular-progress rounded class="q-ml-xl" style="transform: rotate(-180deg); left: -50%;"
                            show-value :value="hunger/2" size="2.6041666666666665vw" :thickness="0.15"
                            :style="{color: hungerColor}" :min="0" :max="100">
                            <q-icon
                                style="transform: rotate(-180deg); top: 0.1632208922742111vh; left: 0.20833333333333334vw;"
                                name="fa fa-bowl-food" size="0.8072916666666666vw"
                                :style="[enhancements['hunger'] ? {color: enhancements['hunger']} : {color: 'white'}]" />
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="showThirst">
                        <q-circular-progress rounded style="margin-left: -3.90625vw; opacity: 40%;" :value="50"
                            size="2.6041666666666665vw" :thickness="0.10" :style="{color: grey-10}" :min="0"
                            :max="100"></q-circular-progress>
                        <q-circular-progress rounded style="margin-left: -3.3854166666666665vw; right: -0.78125vw;"
                            show-value :value="thirst/2" size="2.6041666666666665vw" :thickness="0.15"
                            :style="{color: thirstColor}" :min="0" :max="100">
                            <q-icon style="top: -0.0544069640914037vh; left: 0.15625vw;" name="fa fa-bottle-water"
                                size="0.8072916666666666vw"
                                :style="[enhancements['thirst'] ? {color: enhancements['thirst']}: {color: 'white'}]" />
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="showStress">
                        <q-circular-progress rounded class="q-ml-xl" style="opacity: 40%;" :value="static"
                            size="2.6041666666666665vw" :thickness="0.10" color="grey-10" :min="0"
                            :max="100"></q-circular-progress>
                        <q-circular-progress rounded class="q-ml-xl" style="left: -50%;" show-value :value="stress"
                            size="2.6041666666666665vw" :thickness="0.15" color="stress" :min="0" :max="100">
                            <q-icon style="top: -0.0544069640914037vh; left: -0.026041666666666668vw;"
                                name="fas fa-brain" size="1.015625vw"
                                :style="[enhancements['stress'] ? {color: enhancements['stress']}: {color: '#ff2b2b'}]" />
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="showOxygen">
                        <q-circular-progress rounded class="q-ml-xl" style="opacity: 40%;" :value="static"
                            size="2.6041666666666665vw" :thickness="0.10" color="grey-10" :min="0"
                            :max="100"></q-circular-progress>
                        <q-circular-progress rounded class="q-ml-xl" style="left: -50%;" show-value :value="oxygen"
                            size="2.6041666666666665vw" :thickness="0.15" color="oxygen" :min="0" :max="100">
                            <q-icon style="top: -0.2176278563656148vh; left: -0.005208333333333333vw;"
                                name="fas fa-lungs" size="1.015625vw"
                                :style="[enhancements['oxygen'] ? {color: enhancements['oxygen']}: {color: '#e6d9ff'}]" />
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="showArmed">
                        <q-circular-progress rounded class="q-ml-xl" style="opacity: 40%;" :value="static"
                            size="2.6041666666666665vw" :thickness="0.10" color="grey-10" :min="0"
                            :max="100"></q-circular-progress>
                        <q-circular-progress rounded class="q-ml-xl" style="left: -50%;" show-value :value="static"
                            size="2.6041666666666665vw" :thickness="0.15" color="armed" :min="0" :max="100">
                            <q-icon name="fas fa-stream" size="1.015625vw"
                                :style="[enhancements['armed'] ? {color: enhancements['armed']}: {color: 'white'}]" />
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="showParachute">
                        <q-circular-progress rounded class="q-ml-xl" style="opacity: 40%;" :value="static"
                            size="2.6041666666666665vw" :thickness="0.10" color="grey-10" :min="0"
                            :max="100"></q-circular-progress>
                        <q-circular-progress rounded class="q-ml-xl" style="left: -50%;" show-value :value="parachute"
                            size="2.6041666666666665vw" :thickness="0.15" color="parachute" :min="0" :max="2">
                            <q-icon name="fas fa-parachute-box" size="1.1979166666666667vw"
                                :style="[enhancements['parachute'] ? {color: enhancements['parachute']}: {color: 'white'}]" />
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="showHarness">
                        <q-circular-progress rounded class="q-ml-xl" style="opacity: 40%;" :value="static"
                            size="2.6041666666666665vw" :thickness="0.10" color="grey-10" :min="0"
                            :max="100"></q-circular-progress>
                        <q-circular-progress rounded class="q-ml-xl" style="left: -50%;" show-value :value="hp"
                            size="2.6041666666666665vw" :thickness="0.15" color="harness" :min="0" :max="100">
                            <q-icon name="fas fa-user-slash" size="1.015625vw"
                                :style="[enhancements['harness'] ? {color: enhancements['harness']}: {color: 'white'}]" />
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="showCruise">
                        <q-circular-progress rounded class="q-ml-xl" style="opacity: 40%;" :value="static"
                            size="2.6041666666666665vw" :thickness="0.10" color="grey-10" :min="0"
                            :max="100"></q-circular-progress>
                        <q-circular-progress rounded class="q-ml-xl" style="left: -50%;" show-value :value="speed"
                            size="2.6041666666666665vw" :thickness="0.15" color="cruise" :min="0" :max="100">
                            <q-icon style="top: 0.1632208922742111vh;" name="fas fa-tachometer-alt-fast"
                                size="1.015625vw"
                                :style="[enhancements['cruise'] ? {color: enhancements['cruise']}: {color: 'white'}]" />
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="showNos">
                        <q-circular-progress rounded class="q-ml-xl" style="opacity: 40%;" :value="static"
                            size="2.6041666666666665vw" :thickness="0.10" color="grey-10" :min="0"
                            :max="100"></q-circular-progress>
                        <q-circular-progress rounded class="q-ml-xl" style="left: -50%;" show-value :value="nos"
                            size="2.6041666666666665vw" :thickness="0.15" color="nos" :min="0" :max="100">
                            <q-icon name="fas fa-meteor" size="1.015625vw"
                                :style="[enhancements['nos'] ? {color: enhancements['nos']}: {color: nosColor}]" />
                    </div>
                </transition>
                <transition name="fade">
                    <div v-if="showDev">
                        <q-circular-progress rounded class="q-ml-xl" style="opacity: 40%;" :value="static"
                            size="2.6041666666666665vw" :thickness="0.10" color="grey-10" :min="0"
                            :max="100"></q-circular-progress>
                        <q-circular-progress rounded class="q-ml-xl" style="left: -50%;" show-value :value="static"
                            size="2.6041666666666665vw" :thickness="0.15" color="dev" :min="0" :max="100">
                            <q-icon name="fas fa-terminal" size="1.015625vw"
                                :style="[enhancements['dev'] ? {color: enhancements['dev']}: {color: 'white'}]" />
                    </div>
                </transition>

                <transition name="fade" v-for="buffProp in buffs">
                    <div>
                        <q-circular-progress rounded class="q-ml-xl" style="opacity: 40%;" :value="static"
                            size="2.6041666666666665vw" :thickness="0.10" :style="{color: buffProp.progressColor}"
                            :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress rounded class="q-ml-xl" style="left: -50%;" show-value
                            :value="buffProp.progressValue" size="2.6041666666666665vw" :thickness="0.15"
                            :style="{color: buffProp.progressColor}" :min="0" :max="100">
                            <q-icon :name="buffProp.iconName" size="1.015625vw" :style="{color: buffProp.iconColor}" />
                    </div>
                </transition>
            </div>
        </div>
        <div id="veh-container">
            <div v-show="show">
                <div class="responsive" id="speedometer">
                    <speed :style="{background: speedColor}"
                        style="-webkit-background-clip: text; -webkit-text-fill-color: transparent; ">{{(speed)}}
                    </speed>
                </div>
                <div class="responsive" id="fuelgauge">
                    <q-circular-progress rounded class="q-ml-xl" style="opacity: 40%;" :value="fuelgauge" size="1.875vw"
                        :thickness="0.21" color="grey-10" :min="0" :max="100"></q-circular-progress>
                    <q-circular-progress rounded class="q-ml-xl" style="left: -50%;" show-value :value="fuel"
                        size="1.875vw" :thickness="0.21" :style="{color: fuelColor}" center-color="grey-10">
                        <q-icon name="fas fa-gas-pump" size="0.7291666666666666vw" :style="{color: fuelColor}" />
                </div>
                <div class="responsive" id="altitudegauge" v-if="showAltitude">
                    <q-circular-progress rounded class="q-ml-xl" style="transform: rotate(-135deg); opacity: 40%;"
                        :value="altitudegauge" size="3.6458333333333335vw" :thickness="0.21" color="grey-10" :min="0"
                        :max="100"></q-circular-progress>
                    <q-circular-progress rounded class="q-ml-xl" style="transform: rotate(-135deg); left: -50%;"
                        show-value :value="altitude" size="3.6458333333333335vw" :thickness="0.21" color="grey-1"
                        :min="0" :max="750">
                        <altitude>{{(altitude)}}</altitude>
                </div>
                <transition name="fade">
                    <div class="responsive" id="seatbelt" v-if="showSeatbelt">
                        <q-circular-progress rounded class="q-ml-xl" style="opacity: 40%;" size="1.875vw"
                            :thickness="0.21" color="gauge" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress rounded class="q-ml-xl" style="border-radius: 50%; left: -30%;"
                            :style="{background: seatbeltColor}" show-value size="1.875vw" :thickness="0.21"
                            color="gauge" :min="0" :max="750">
                            <q-icon name="fas fa-user-slash" :value="seatbelt" size="0.7291666666666666vw"
                                :style="{color: seatbeltIconColor}" />
                    </div>
                </transition>
                <transition name="fade">
                    <div class="responsive" id="engine" v-if="showEngine">
                        <q-circular-progress rounded class="q-ml-xl" style="opacity: 40%;" :value="100" size="1.875vw"
                            :thickness="0.21" :style="{color: grey-10}" :min="0" :max="100"></q-circular-progress>
                        <q-circular-progress rounded class="q-ml-xl" style="left: -50%;" show-value :value="engine"
                            size="1.875vw" :thickness="0.21" :style="{color: engineColor}" :min="0" :max="100"
                            center-color="grey-10">
                            <q-icon name="fa fa-gauge" size="0.7291666666666666vw" :style="{color: engineColor}" />
                    </div>
                </transition>
            </div>
        </div>
    </div>
</body>

</html>